<!DOCTYPE html>

<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    {%include head.html %}
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/blog">Security Changes</a></li>
      </ul>
     </nav>
     {%include header.html %}
     <div class="container">
      {{ content }}
     </div>

     <br>&nbsp;<br>
     <footer>
       Follow Us on Twitter: <a href="https://www.twitter.com/securitycadence">@SecurityCadence</a><br>
       RSS: <a href="http://securitycadence.github.io/blog/atom.xml">http://securitycadence.github.io/blog/atom.xml</a>
     </footer>
    </body>
   </html>
